<section id="about2" style="margin-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div style="border-radius: 5px; border: 1px solid black; margin: 10px; padding: 5px;" class="row">
                    <div class="col-4">
                        <img style="border-radius: 50%;" height="100px" width="100px" src="content/img/person.png" alt="person">
                    </div>
                    <div class="col-8">
                        <h5>
                            Klis Imad
                        </h5>
                        <p>
                            Employer
                        </p>
                        <p>At first team leader. Starter and mind of every project in our team. Hard worker and team player.</p>
                        <a href="https://www.facebook.com/klis.imad" target="_blank"><img height="20px" width="20px" src="content/img/fb.png" alt="fb"></a>
                        <a href="https://www.linkedin.com/in/imad-klis-b78028115/" target="_blank"><img height="20px" width="20px" src="content/img/linkedin.png" alt="linkedin"></a>
                        <a href="https://twitter.com/imad_klis" target="_blank"><img height="20px" width="20px" src="content/img/twitter.png" alt="twitter"></a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div style="border-radius: 5px; border: 1px solid black; margin: 10px; padding: 5px;" class="row">
                    <div class="col-4">
                        <img style="border-radius: 50%;" height="100px" width="100px" src="content/img/person.png" alt="person">
                    </div>
                    <div class="col-8">
                        <h5>
                            Klis Mustafa
                        </h5>
                        <p>
                            CEO
                        </p>
                        <p>Young and perspectiv mechanical engieer. Hard worker and team player and for our company very important part for securty systems.</p>
                        <a href="https://www.facebook.com/mustafa.klis" target="_blank"><img height="20px" width="20px" src="content/img/fb.png" alt="fb"></a>
                        <a href="https://www.linkedin.com/in/mustafa-klis-73346367/" target="_blank"><img height="20px" width="20px" src="content/img/linkedin.png" alt="linkedin"></a>
                        <a href="#!" target="_blank"><img height="20px" width="20px" src="content/img/twitter.png" alt="twitter"></a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div style="border-radius: 5px; border: 1px solid black; margin: 10px; padding: 5px;"  class="row">
                    <div class="col-4">
                        <img style="border-radius: 50%;" height="100px" width="100px" src="content/img/person.png" alt="person">
                    </div>
                    <div class="col-8">
                        <h5>
                            Klis Abdulrahim
                        </h5>
                        <p>
                            Employer
                        </p>
                        <p>Crazy developer. He can help you about IT solutions.</p>
                        <a href="https://www.facebook.com/abudu.klis" target="_blank"><img height="20px" width="20px" src="content/img/fb.png" alt="fb"></a>
                        <a href="https://www.linkedin.com/in/abdulrahim-klis-84519484/" target="_blank"><img height="20px" width="20px" src="content/img/linkedin.png" alt="linkedin"></a>
                        <a href="https://twitter.com/KlisAbdulrahim" target="_blank"><img height="20px" width="20px" src="content/img/twitter.png" alt="twitter"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr style="margin:20px 0 20px 0">

<section id="about3">
    <div class="container">
        <div class="row">
            <div class="col-12" style="display: block; text-align: center; margin: 30px auto 30px auto;">
                <h2>Smart systems solutions</h2>
                <img style="margin-top: 20px;" height="100px" src="content/img/siemens.png" alt="Siemens">
                <p style="margin-top: 10px; font-size: 18px;">Siemens is our solution for video survilance, access control, fire detection, gas detection, parking, medicine, enery, automation and other.</p>
                <hr>
            </div>
            <div class="col-12" style="display: block; text-align: center; margin: 30px auto 30px auto;">
                <h2>Hardware and PC solutions</h2>
                <img height="200px" src="content/img/hp.png" alt="Siemens">
                <p style="margin-top: 10px; font-size: 18px;"></p>
                <hr>
            </div>
            <div class="col-12" style="display: block; text-align: center; margin: 30px auto 30px auto;">
                <h2>Video survilance solutions</h2>
                <img style="border-radius: 50%;" height="200px" src="content/img/dahua.jpg" alt="Siemens">
                <p style="margin-top: 10px; font-size: 18px;"></p>
                <hr>
            </div>
            <br>
            <div class="col-12" style="display: block; text-align: center; margin: 30px auto 30px auto;">
                <h2>Antivirus solutions</h2>
                <img style="margin-top: 20px;" height="200px" src="content/img/sophos.png" alt="Siemens">
                <p style="margin-top: 10px; font-size: 18px;"></p>
                <hr>
            </div>
            <br>
            <div class="col-12" style="display: block; text-align: center; margin: 30px auto 30px auto;">
                <h2>Software solutions</h2>
                <img style="margin-top: 20px;" height="100px" src="content/img/angular.png" alt="Siemens">
                <img style="border-radius:50%; margin-top: 20px;" height="100px" src="content/img/alravel.png" alt="Siemens">
                <img style="margin-top: 20px;" height="100px" src="content/img/node.png" alt="Siemens">
                <img style="margin-top: 20px;" height="100px" src="content/img/bootstrap.png" alt="Siemens">
                <img style="margin-top: 20px;" height="100px" src="content/img/sass.png" alt="Siemens">
                <img style="margin-top: 20px;" height="100px" src="content/img/sql.png" alt="Siemens">
                <img style="margin-top: 20px;" height="100px" src="content/img/mongodb.png" alt="Siemens">
                <p style="margin-top: 10px; font-size: 18px;"></p>
                <hr>
            </div>
            <br>
            <div class="col-12" style="display: block; text-align: center; margin: 30px auto 30px auto;">
                <h2>Design solutions</h2>
                <img style="margin-top: 20px;" height="100px" src="content/img/illustrator.png" alt="Siemens">
                <img style="margin-top: 20px;" height="100px" src="content/img/photoshop.png" alt="Siemens">
                <img style="margin-top: 20px;" height="100px" src="content/img/premiere.png" alt="Siemens">
                <img style="margin-top: 20px;" height="100px" src="content/img/after.png" alt="Siemens">
                <p style="margin-top: 10px; font-size: 18px;"></p>
                <hr>
            </div>
            <br>
            <div class="col-12" style="display: block; text-align: center; margin: 30px auto 30px auto;">
                <h2>CMS solutions</h2>
                <img style="margin-top: 20px;" height="100px" src="content/img/Wordpress.png" alt="Siemens">
                <img style="margin-top: 20px;" height="100px" src="content/img/prestashop.png" alt="Siemens">
                <p style="margin-top: 10px; font-size: 18px;"></p>
                <hr>
            </div>
            <br>
            <div class="col-12" style="display: block; text-align: center; margin: 30px auto 30px auto;">
                <h2>Online marketing solutions</h2>
                <img style="margin-top: 20px;" height="100px" src="content/img/facebookads.png" alt="Siemens">
                <img style="margin-top: 20px;" height="200px" src="content/img/googleads.png" alt="Siemens">
                <p style="margin-top: 10px; font-size: 18px;"></p>
            </div>
            <br>
        </div>
    </div>
</section>

<div id="home5">
    <div class="container">
        <div class="row">
            <div class="offset-1"></div>
            <div class="col-4">
                <a href="https://www.ebay.com/" target="_blank"><img src="content/img/OnlineShop.png" alt=""></a>
            </div>
            <div class="offset-1"></div>
            <div class="col-5">
                <span>"Dont forget to visit our webshop!"</span>
                <p><a href="https://www.ebay.com/" class="btn btn-info" target="_blank">Webshop</a></p>
            </div>
        </div>
    </div>
</div>



<!--
<section style="margin-top: 70px">
    <h1 style="text-align: center; margin-bottom: 40px;">About Us</h1>
    <div class="container">
        <div class="row" id="about1">
            <div class="col-3">
                <div></div>
                <div></div>
                <h4>Klis Abdulrahim</h4>
                <h5>Employer</h5>
                <a href="https://www.facebook.com/abudu.klis"><img src="content/img/fb.png" alt="fb"></a>
                <a href="https://www.linkedin.com/in/abdulrahim-klis-84519484/"><img src="content/img/linkedin.png" alt="linkedin"></a>
                <a href="https://twitter.com/KlisAbdulrahim"><img src="content/img/twitter.png" alt="twitter"></a>
                <div></div>
            </div>
            <div class="col-3">
                <div></div>
                <div><img src="content/img/person.png" alt="person"></div>
                <h4>Klis Mustafa</h4>
                <h5>CEO</h5>
                <a href="https://www.facebook.com/mustafa.klis"><img src="content/img/fb.png" alt="fb"></a>
                <a href="https://www.linkedin.com/in/mustafa-klis-73346367/"><img src="content/img/linkedin.png" alt="linkedin"></a>
                <a href="#!"><img src="content/img/twitter.png" alt="twitter"></a>
                <div></div>
            </div>
            <div class="col-3">
                <div></div>
                <div><img src="content/img/person.png" alt="person"></div>
                <h4>Klis Imad</h4>
                <h5>Employer</h5>
                <a href="https://www.facebook.com/klis.imad"><img src="content/img/fb.png" alt="fb"></a>
                <a href="https://www.linkedin.com/in/imad-klis-b78028115/"><img src="content/img/linkedin.png" alt="linkedin"></a>
                <a href="https://twitter.com/imad_klis"><img src="content/img/twitter.png" alt="twitter"></a>
                <div></div>
            </div>
        </div>
    </div>
</section>

<hr>

<section>

</section>
-->
