<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2877.0344379469766!2d18.374461815042444!3d43.85511487911493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4758c96ac8a43795%3A0x7bf192a3a71b3dfd!2sSaliha+Ud%C5%BEvarli%C4%87a%2C+Sarajevo+71000!5e0!3m2!1sbs!2sba!4v1514136480832" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<section id="contactSection">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <form>
                    <h3>Contact Us</h3>
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Full name" disabled>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" disabled>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="exampleInputPassword1" placeholder="Your message" name="" id="" cols="30" rows="10" disabled></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" disabled>Send</button>
                </form>
            </div>
            <div class="offset-1"></div>
            <div class="col-5">
                <div>
                    <h3>Information</h3>
                    <br>
                    <p><i class="material-icons">email</i>   info@proingbh.com</p>
                    <p><i class="material-icons">phone</i>   +387/ 33 676-085</p>
                    <p><i class="material-icons">location_on</i>   Saliha Udžvarlića bb, 7100 Sarajevo, Bosnia and Herzegovina</p>
                    <br>
                    <p><i class="material-icons">message</i>   If you have some suggestion or question be free to contact us. We are available for you!</p>
                </div>
            </div>
        </div>
    </div>
</section>