<footer>
    <div id="footer1" class="container">
        <div class="row">
            <div class="col-3">
                <img src="content/img/logo.png" alt="logo">
                <p>
                    We are a comapny who present a few strong brand from world and with that options make a one strong package which can help you to secure you upgrade you and your idea.
                </p>
                <a href="https://www.facebook.com/PROIng-BH-1752916184728248/" target="_blank"><img src="content/img/fb.png" alt="fb"></a>
                <a href="https://www.instagram.com/proingbh/" target="_blank"><img src="content/img/insta.png" alt="insta"></a>
            </div>
            <div class="col-3">
                <p><a href="">Home</a></p>
                <p><a href="">About Us</a></p>
                <p><a href="">Portofolio</a></p>
                <p><a href="">Contact Us</a></p>
                <p><a href="">Webshop</a></p>
            </div>
            <div class="col-3">
                <h4>Contact Us</h4>
                <br>
                <p><i class="material-icons">email</i>  info@proingbh.com</p>
                <p><i class="material-icons">phone</i>  +387/ 33 676-085</p>
                <p><i class="material-icons">location_on</i>Saliha Udžvarlića bb, 7100 Sarajevo, Bosnia and Herzegovina</p>
            </div>
            <div class="col-3">
                <form>
                    <div class="form-group">
                        <h4>Subscribe:</h4>
                        <input type="text" class="form-control" id="usr" placeholder="Subscribe...">
                    </div>
                    <a href="" class="btn btn-info">Subscribe</a>
                </form>
            </div>
        </div>
    </div>
</footer>